<!-- Open row 5 (3,3,3,3) -->
<div class="row">
  <div class="row5">
    <div class="three left">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->

    <div class="three middle1">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->

    <div class="three middle2">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->

    <div class="three right">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->
  </div>
</div>
<!-- Close row 5 (3,3,3,3) -->

<!-- Open row 5 (3,3,3,3) -->
<div class="row">
  <div class="row5">
    <div class="three left">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>

    </div>
    <!--closing column 3-->
    <div class="three middle1">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->
    <div class="three middle2">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->

    <div class="three right">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->
  </div>
</div>
<!-- Close row 5 (3,3,3,3) -->

<!-- Open row 5 (3,3,3,3) -->
<div class="row">
  <div class="row5">
    <div class="three left">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <!-- <% end %> -->
    </div>
    <!--closing column 3-->

    <div class="three middle1">
      <!-- <% @sources.each do |source| %> -->
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
    <% end %>
    </div>
    <!--closing column 3-->

    <div class="three middle2">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->
    <div class="three right">
      <% @sources.each do |source| %>
      <div class="feed">
        <div class="feed-header">
          <a class="feed-author-name" href="http://blog.stackpie.com"><%=source.title %></a>
          <a class="feed-time">3h</a>
        </div>
        <div class="feed-image">
          <img src="<%=source.image%>"/>
        </div>
        <div class="feed-body"><%=source.text %></div>
        <div class="feed-footer">
          <i class="fa fa-heart-o nx"></i>
          <input type="text" class="ny" placeholder="Add a comment..."/>
          <i class="fa fa-sort-down nz"></i>
        </div>
      </div>
      <% end %>
    </div>
    <!--closing column 3-->
  </div>
</div>
<!-- Close (3,3,3,3) -->
